<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>timé</string>
	<key>CFBundleIdentifier</key>
	<string>com.kimwish.time</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-ExtraBold.otf</string>
		<string>Pretendard-Light.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>SpoqaHanSansNeo-Bold.otf</string>
	</array>
</dict>
</plist>
